@model Film
@{
    Layout = "_Layout";
    ViewData["Title"] = "Edycja filmu";
}

@using (Html.BeginForm("EdytujFilm", "Filmy", FormMethod.Post))
{
    @Html.HiddenFor(f => f.Id)

    <div class="form-group">
        @Html.LabelFor(f => f.Rezyser, "Podaj reżysera:")
        @Html.TextBoxFor(f => f.Rezyser, new { @class = "form-control" })
        <span asp-validation-for="Rezyser" class="alert alert-danger" role="alert"></span>
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.Tytul, "Podaj tytuł:")
        @Html.TextBoxFor(f => f.Tytul, new { @class = "form-control" })
        <span asp-validation-for="Tytul" class="alert alert-danger" role="alert"></span>
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.Opis, "Podaj opis:")
        @Html.TextBoxFor(f => f.Opis, new { @class = "form-control" })
        <span asp-validation-for="Opis" class="alert alert-danger" role="alert"></span>
    </div>

    <div class="form-group">
        @Html.LabelFor(f => f.Cena, "Podaj cene:")
        @Html.TextBoxFor(f => f.Cena, new { @class = "form-control" })
        <span asp-validation-for="Cena" class="alert alert-danger" role="alert"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Edytuj</button>
    </div>
}