@model Film
<h4 class="header-title">
    @Model.Tytul
</h4>

<div class="row">
    <div class="col-3">
        <img src="~/grafiki/@Model.Plakat" style="width: 200px;" />
    </div>
    <div class="col-6">
        <p>@Model.Opis</p>

        <ol>
            <ul>
                <li>Rezyser: @Model.Rezyser</li>
                <li>Cena: @Model.Cena</li>
                <li>Data dodania: @Model.DataDodania.ToShortDateString()</li>
                <li>Czas trwania: @Model.DataDodania</li>
                <li><a href="@Url.Action("EdytujFilm", "Filmy", new { id = Model.Id })">Edytuj</a></li>
            </ul>
        </ol>
    </div>
</div>