@model Film
  

<table>
    <thead>
        <tr>
            <th>Tytuł filmu</th>
            <th>Reżyser</th>
            <th>Data dodania</th>
            <th>Cena</th>
            <th>Czas Trwania</th>
            <th>Opis</th>
            <th>Plakat</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td class="border">@Model.Tytul</td>
            <td class="border">@Model.Rezyser</td>
            <td class="border">@Model.DataDodania</td>
            <td class="border">@Model.Cena</td>
            <td class="border">@Model.czasTrwania</td>
            <td class="border">@Model.Opis</td>
            <td class="border"><img src="~/grafiki/@Model.Plakat"/></td>
        </tr>
    </tbody>
</table>