@model IEnumerable<Filmy.Models.Kategoria>
@{
}
<header class="menu-bar">
    <nav class="menu">
        @foreach (var kategoria in Model)
        {
            <a class="menu-link" href="@Url.Action("Lista","Filmy", new{nazwaKategorii=@kategoria.Nazwa.ToUpper()})">
                @kategoria.Nazwa
            </a>
        }
        <a class="menu-link" href="@Url.Action("DodajFilm","Filmy")">Dodaj Film</a>
        @if (User.Identity.IsAuthenticated)
        {
            <a class="menu-link">@User.Identity.Name</a>
            <a class="menu-link" href="@Url.Action("Logout","Account")">Logout</a>
        }
        else
        {
            <a class="menu-link" href="@Url.Action("Register","Account")">Rejestracja</a>
            <a class="menu-link" href="@Url.Action("Login","Account")">Login</a>
        }
        @using (Html.BeginForm("Szukaj", "Filmy", FormMethod.Post, new { @class = "form-inline" }))
        {
            @Html.TextBox("tekst", null, new { @class = "form-control mr-sm-2", type = "search", placeholder = "Search" });
            <button class="btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        }

    </nav>
</header>